<!DOCTYPE html>
<html>
  <head>
    <title>FirstApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body
    <ul class="navbar-inverse">
      <li> <%= link_to 'one' , pages_one_path %> </li>
      <li> <%= link_to 'two' , pages_two_path %> </li>
      <li> <%= link_to 'three' , pages_three_path %> </li>
      </ul>

    <%= yield %>
  </body>
</html>
